
.nav{
    background-color:  rgb(159,197,248);
    height: 100px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0px 100px;
    font-size: 70px;
    color: whitesmoke;
}
#cities{
    display: flex;
    justify-content: right;
}
.burbank, .chicago, .dallas{
    font-size: 30px;
    margin: 0px;
    padding: 0px;
}
.cityandtemp{
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0px 90px;
}
.currentcity{
    font-size: 60px;
}
.showtemp{
    font-size: 22px;
    align-items: center;
    display: flex;
}
#temp{
    margin-left: 10px;
}

.line{
    display: flex;
    justify-self: center;
    align-content: center;
    border: 1px solid black;
    width: 800px;


}
.col1{
    height: 370px;
    display: flex;
    justify-content: space-around;
    margin: 0px 40px;
    padding: 20px 80px;
    flex: 1;
}
.todaytext, .tomorrowtext, .fridaytext, .saturdaytext{
    font-size: 40px;
    margin: 10px 0px 20px 0px;
    

}
#todaybox1, #tomorrowbox1, #fridaybox1, #saturdaybox1{
    background-color: rgb(238, 238, 238);
    height: 370px;
    width: 230px;
    margin: 0px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
img{
    height: 160px;
    border-radius: 50%;
}
.weathertype{
    width: fit-content;
    font-size: 24px;
    margin: 10px 0px 20px 0px;
}
.hiandlow{
    display: flex;
    
}
.hitemp{
    color: red;
    font-size: 35px;
    margin: 0px;
}
.hitempsymbol{
    color: red;
    font-size: 35px;
    margin: 0px 5px 0px 0px;
}
.lowtemp{
    color: blue;
    font-size: 35px;
    margin: 0px 0px 0px 5px;
}
.lowtempsymbol{
    color: blue;
    font-size: 35px;
    margin: 0px;
}
.cookiejar{
    display: flex;
    position: fixed;
    justify-content: space-around;
    bottom: 20px;
    width: 100%;
    height: 140px;

}
.cookies {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color:  rgb(238, 238, 238);
    border: 2px solid black;
    height: 140px;
    width: 880px;
}
.cookiepic{
    height: 75px;
    margin: 0px 20px;
}
.cookieheader{
    margin-bottom: 4px;
}
.cookiestatement{
    font-size: 22px;
    margin-top: 0px;
}
.iacceptcookies{
    background-color: rgb(45, 159, 163);
    font-size: 15px;
    color: white;
    height: 30px;
    width: 85px;
    margin: 0px 15px;
    border-color: black;
    border: 3px solid black;
}
.shadow{
    box-shadow: 3px 3px black;
}
