.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 1px;
    
}
.top-nav {
    height: 150px;
    background-color: green;
    margin: 20px;
}
.side-nav {
    height: 250px;
    width: 185px;
    background-color: blue;
    margin: 0px 0px 10px 20px;
}
.main {
    height: 370px;
    width: 700px;
    background-color: red;
    margin: 0px 0px 20px 0px;
    margin-left: 20px;
}
    .box-1, .box-2, .box-3 {
        height: 190px;
        width: 190px;
        margin-top: 15px;
        margin-left: 15px;
        background-color: yellow;
        float: left;
    }

    #advertisement {
        height: 90px;
        width: 600px;
        margin-top: 230px;
        margin-left: 15px;
        background-color: purple;
        
    }
    

    .side-nav, .main {
        display: inline-block;
        vertical-align: top;
}

    .top-nav, .main {
        display: right;
    }