
.nav{
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: rgb(39, 37, 37);
    color: white;
}
.nav a{
    color: white;
    text-decoration: none;
    margin: 0px 35px 0px 10px;
}
.left-header{
    display: flex;
    align-items: center;
}
#profile-title{
    font-size: 2.5rem;
    margin-left: 9rem;
    margin-right: 20px;
}
.myprofile{
    font-weight: bolder;
}
.sign-out{
    background-color: rgb(45, 159, 163);
    font-size: 15px;
    color: white;
    height: 30px;
    width: 85px;
    border-color: black;
    border: 3px solid black;
    box-shadow: 3px 3px black;
    margin-right: 9rem;
}
.main-content{
    display: flex;
    height: 200px;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
.profile-col{
    background-color: rgb(255, 255, 255);
    flex: 2;
    width: 100%;
    height: 350px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    margin: 10px 20px 0px 120px;
}

.blueheader{
    background-color: seagreen;
    height : 100px
}
.circle{
    height: 100px;
    margin: 40px 0px 0px 30px;
}
.brian{
    margin: 40px 0px 0px 25px;
}
.seattle{
    height: 30px;
    margin: 0px 0px 0px 0px;
    font-size: 25px;
    align-items: center;
}
.map-marker{
    margin-top: 20px;
    height: 20px;
    margin-left: 25px;
    margin-top: 10px
}
.profile-p1{
    margin: 20px 0px 0px 25px;
}
.profile-p2{
    margin: 5px 0px 15px 25px;
}
.gear{
    height: 20px;
    margin: 0px 10px 0px 25px;

}
.editprofile{
    font-size: 20px;
    display: flex;
    align-items: center;
}

.connect-col{
    background-color: rgb(255, 255, 255);
    flex: 1;
    width: 100%;
    height: 200px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    margin: 10px 120px 0px 0px
}
.greyheader1{
    height: 60px;
    background-color: rgb(59, 59, 59);
    display: flex;
    align-items: center;
    color: honeydew;
}
.requests{
    margin: 0px 0px 0px 0px;
    font-size: 20px;
}
.numrequests{
    height: 30px;
    width: 30px;
    background-color: grey;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.todde{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.philk{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bold;
}
.reqicon{
    height: 35px;
    border-radius: 50%;
    margin-left: 15px;
}
.conniconaccept{
    height: 35px;
    border-radius: 50%;
    margin-right: px;
}
.conniconclose{
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}
.education-col{
    background-color: rgb(255, 255, 255);
    flex: 2;
    width: 100%;
    height: 250px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    margin: 160px 20px 0px 120px
}
.greyheader2{
    display: flex;
    align-content: center;
    height: 60px;
    background-color: rgb(59, 59, 59);
}
.education{
    margin: 0px;
    align-self: center;
    margin-left: 30px;
    color: white;
    font-size: 25px;
}
.connections-col{
    background-color: white;
    flex: 1;
    width: 100%;
    height: 300px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    margin: 10px 120px 0px 0px
}
.greyheader3{
    display: flex;
    align-items: center;
    height: 60px;
    background-color: rgb(59, 59, 59);
    font-size: 20px;
    color: white;
}

.numconnections{
    height: 30px;
    width: 60px;
    background-color: grey;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.connicon{
    height: 35px;
    border-radius: 50%;
    margin: 0px 15px 0px 15px;
}
.adriend{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0px;
}
.annej{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
}
.alaynet{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
.arryy{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.line{
        border-bottom: 5px solid #000000;
        padding-bottom:20px;
}
.connname{
    margin: 0px;
}
.viewmore{
    margin: 8px 0px 0px 14px;
}
.codingdojo{
    font-size: 25px;
    margin: 20px 0px 0px 25px;
}
.dojodate{
    font-size: 18px;
    margin: 10px 0px 0px 25px;
}
.stacks{
    font-size: 20px;
    margin: 15px 0px 0px 25px;
}