    .nav{
    text-indent: 20px;
    width: 100%;
    height: 50px;
    background-color: rgb(59, 53, 53);
    display: flex;
    justify-content: space-between;
    align-items: center;


}
    #nav-title{
    color: white;
    

}
    .buttons{
    display: flex;
    justify-content: right;
    margin-right: 1em;
    align-items: center;
}
    
    a{
        color: white;
        text-decoration: none;
        margin-right: 1em;
    }
    a:hover{
        color: rgb(212, 0, 255);
    }

    .btn{
        background-color: rgb(45, 159, 163);
        font-size: 15px;
        color: white;
        height: 30px;
        width: 85px;
        border-color: black;
        border: 3px solid black;
        box-shadow: 3px 3px black;
    
    }


