body {
    background-color: white;
}
    h1 {
        background-color: black;  
        font-family: monospace;
        text-indent: 1%;
        font-size: 50px;
    }
    .my {
        color: white;
    }
    .cloud {
        color: blue;
    }
    h2 {
        background-color: purple;
        color: white;
        text-align: center;
        font-size: 40px;
        font-weight:100;
        font-family: Arial, Helvetica, sans-serif

}
    h3 {
        text-align: right;
        background-color: lightskyblue;
        font-size: medium;
        font-weight: 100;
        font-size: 30px;
        color: blue;
        text-align: right;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-right: 1%;
        
}
