.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 1px;

}
.top-nav {
    height: 150px;
    background-color: green;
    margin: 20px;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin-right: 20px;
    margin-left: 20px;
}
.main {
    height: 400px;
    width: 690px;
    background-color: red;
    margin-bottom: 20px;
}
.sub-content {
    height: 190px;
    width: 200px;
    background-color: yellow;
    margin: 15px 0px 20px 15px;
}
#advertisement {
    height: 120px;
    width: 630px;
    background-color: purple;
    margin-left: 15px;
}
.row {
    display: flex;
}